*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    position: relative;
}

#container{
    width: 400px;
    border: 2px solid gray;
    border-radius: 9px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 25%);
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

#title{
    padding: 20px;
    text-align: center;

}

form{
    padding: 0 5%;
}

form h2{
        color: rgb(113, 108, 108);
}

.email, .password{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4%;
    margin-bottom: 5%;
    font-size: 12px;
}

.pp, .ep{
    height: 40px;
    width: 100%;
    font-size: 18px;
    padding: 5%;
    margin-top: 5px;
}

.Register{
    height: 40px;
    width: 100%;
    /* background-color: red; */
    margin-bottom: 40px;
    padding-top: 20px;
}
 .reg{
    height: 45px;
    width: 100%;
    background-color: rgb(29, 58, 164);
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 10px;
 }

 .reg:hover{
    cursor: pointer;
    border: 3.5px solid rgb(139, 139, 240);
 }