*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    width: 400px;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

#title{
    text-align: center;
    margin-bottom: 20px;
}

.Todo{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.textid{
    flex: 1;
    padding: 12px;
    font-size: 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}

.textid:focus{
    border-color: #ff5945;
}

button{
    padding: 12px 30px;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    background-color: #ff5945;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: rgb(82, 82, 244);
}

ul{
    padding: 0;
}

ul li{
    list-style: none;
    padding: 12px 15px;
    margin-bottom: 10px;
    background-color: #ededed;
    border-radius: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
}
ul li button{
    margin-left: auto; 
}